In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout
from keras.preprocessing import sequence
from keras.datasets import imdb
import re
from gensim.models import Word2Vec

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
Using TensorFlow backend.
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.5
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

ImportError: No module named 'gensim'

In [3]:
pip install gensim

The following command must be run outside of the IPython shell:

    $ pip install gensim

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [2]:
import sys 
print(sys.path)

['', '/Users/Jason254/Desktop/lime-master', '/Library/Frameworks/Python.framework/Versions/3.5/lib/python35.zip', '/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5', '/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/plat-darwin', '/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/lib-dynload', '/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages', '/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/extensions', '/Users/Jason254/.ipython']

In [2]:
data = pd.read_csv('dev.txt', index_col=0, delimiter='\t')

In [ ]:
data2 = pd.read_csv('train.txt', index_col=0, delimiter='\t')

In [ ]:
data3 = pd.read_csv('test.txt', index_col=0, delimiter='\t')

In [3]:
data.head()

,Tweet,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
ID,,,,,,,,,,,,
2018-En-00866,"@RanaAyyub @rajnathsingh Oh, hidden revenge an...",1,0,1,0,0,0,0,0,0,0,0
2018-En-02590,I'm doing all this to make sure you smiling do...,0,0,0,0,1,1,1,0,0,0,0
2018-En-03361,if not then #teamchristine bc all tana has don...,1,0,1,0,0,0,0,0,0,0,0
2018-En-03230,It is a #great start for #beginners to jump in...,0,0,0,0,1,0,1,0,0,0,0
2018-En-01143,My best friends driving for the first time wit...,0,0,0,1,0,0,0,0,0,0,0

In [4]:
feature_names  = data.columns

In [5]:
feature_names

Index(['Tweet', 'anger', 'anticipation', 'disgust', 'fear', 'joy', 'love',
       'optimism', 'pessimism', 'sadness', 'surprise', 'trust'],
      dtype='object')

In [6]:
data.iloc[:,0] = data.iloc[:,0].apply(lambda x: re.sub('@\w+', '', x))

In [7]:
data.iloc[:,0] = data.iloc[:,0].apply(lambda x: re.sub('[^A-Za-z1-9!?, ]', '', x))

In [10]:
data.iloc[:,0] = data.iloc[:,0].apply(lambda x: x.lower())

In [11]:
data.head()

,Tweet,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
ID,,,,,,,,,,,,
2018-En-00866,"oh, hidden revenge and angeri rememberthe ti...",1,0,1,0,0,0,0,0,0,0,0
2018-En-02590,im doing all this to make sure you smiling dow...,0,0,0,0,1,1,1,0,0,0,0
2018-En-03361,if not then teamchristine bc all tana has done...,1,0,1,0,0,0,0,0,0,0,0
2018-En-03230,it is a great start for beginners to jump into...,0,0,0,0,1,0,1,0,0,0,0
2018-En-01143,my best friends driving for the first time wit...,0,0,0,1,0,0,0,0,0,0,0

In [21]:
vectorize = W

Empty DataFrame
Columns: []
Index: [2018-En-00866]

In [ ]:
X = full['Tweet']
Y = full['anger']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [ ]:
embedded_vector_length = 32
model = Sequential()
model.add(Embedding(1000, embedded_vector_length))
model.add(Dropout(0.2))
model.add(LSTM(100))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
model.summary()

In [ ]:
model.fit(x_train, y_train, epochs=5, batch_size=32)