In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout
from keras.preprocessing import sequence
from keras.datasets import imdb

In [3]:
data = pd.read_csv('dev.txt', index_col=0, delimiter='\t')

In [10]:
data2 = pd.read_csv('train.txt', index_col=0, delimiter='\t')

In [11]:
data3 = pd.read_csv('test.txt', index_col=0, delimiter='\t')

In [7]:
data.head()

,Tweet,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
ID,,,,,,,,,,,,
2018-En-00866,"@RanaAyyub @rajnathsingh Oh, hidden revenge an...",1,0,1,0,0,0,0,0,0,0,0
2018-En-02590,I'm doing all this to make sure you smiling do...,0,0,0,0,1,1,1,0,0,0,0
2018-En-03361,if not then #teamchristine bc all tana has don...,1,0,1,0,0,0,0,0,0,0,0
2018-En-03230,It is a #great start for #beginners to jump in...,0,0,0,0,1,0,1,0,0,0,0
2018-En-01143,My best friends driving for the first time wit...,0,0,0,1,0,0,0,0,0,0,0

In [9]:
data.describe()

,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
count,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000
mean,0.355530,0.139955,0.360045,0.136569,0.451467,0.148984,0.346501,0.112867,0.299097,0.039503,0.048533
std,0.478944,0.347136,0.480284,0.343586,0.497920,0.356274,0.476124,0.316609,0.458121,0.194899,0.215010
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
data2.describe()

,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
count,6838.000000,6838.000000,6838.000000,6838.000000,6838.000000,6838.000000,6838.000000,6838.000000,6838.000000,6838.000000,6838.000000
mean,0.372039,0.143024,0.380521,0.181632,0.362240,0.102369,0.290143,0.116262,0.293653,0.052793,0.052208
std,0.483384,0.350123,0.485550,0.385569,0.480683,0.303155,0.453862,0.320562,0.455468,0.223637,0.222463
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
data3.describe()

,Tweet,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
count,3259,3259,3259,3259,3259,3259,3259,3259,3259,3259,3259,3259
unique,3259,1,1,1,1,1,1,1,1,1,1,1
top,Distance yourself once stretched by your frien...,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
freq,1,3259,3259,3259,3259,3259,3259,3259,3259,3259,3259,3259

In [14]:
data3.head()

,Tweet,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
ID,,,,,,,,,,,,
2018-En-01559,@Adnan__786__ @AsYouNotWish Dont worry Indian ...,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
2018-En-03739,"Academy of Sciences, eschews the normally sobe...",NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
2018-En-00385,I blew that opportunity -__- #mad,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
2018-En-03001,This time in 2 weeks I will be 30... ðŸ˜¥,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
2018-En-01988,#Deppression is real. Partners w/ #depressed p...,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE

In [17]:
feature_names  = data.columns

In [18]:
feature_names

Index(['Tweet', 'anger', 'anticipation', 'disgust', 'fear', 'joy', 'love',
       'optimism', 'pessimism', 'sadness', 'surprise', 'trust'],
      dtype='object')

In [20]:
full = pd.concat([data, data2])

In [21]:
full.describe()

,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
count,7724.000000,7724.000000,7724.000000,7724.000000,7724.000000,7724.000000,7724.000000,7724.000000,7724.000000,7724.000000,7724.000000
mean,0.370145,0.142672,0.378172,0.176463,0.372475,0.107716,0.296608,0.115873,0.294278,0.051269,0.051787
std,0.482875,0.349761,0.484962,0.381238,0.483495,0.310042,0.456792,0.320093,0.455747,0.220560,0.221610
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
full = full[['Tweet', 'anger']]

In [24]:
X = full['Tweet']
Y = full['anger']

In [25]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [37]:
embedded_vector_length = 32
model = Sequential()
model.add(Embedding(1000, embedded_vector_length))
model.add(Dropout(0.2))
model.add(LSTM(100))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_4 (Embedding)      (None, None, 32)          32000
_________________________________________________________________
dropout_5 (Dropout)          (None, None, 32)          0
_________________________________________________________________
lstm_3 (LSTM)                (None, 100)               53200
_________________________________________________________________
dropout_6 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 101
=================================================================
Total params: 85,301
Trainable params: 85,301
Non-trainable params: 0
_________________________________________________________________

In [38]:
model.fit(x_train, y_train, epochs=5, batch_size=32)

Epoch 1/5

ValueError: could not convert string to float: 'Think I really broke young bull hurt ðŸ˜‚ðŸ˜‚ðŸ˜­ðŸ˜­ u can tell by how bitter and mad he is ðŸ˜ŠðŸ˜ŠðŸ˜©ðŸ˜©'